
  <div style="padding-top: 50px;" >
    <div class="card" style="width: 550px;"  >
      <div class="card-body" >
        <h2 class="card-title" style="text-align: center;">Welcome to Fast shopping single portal for everything</h2>
        <div class="card" style="align-items: center;height: 240px; padding-top: 10px;">
          <h5 class="card-text" style="text-align: center;">Please login to the website by entering your <br> Username and Password</h5>
          <a href="/login"><button class="btn btn-primary"  >Login</button></a>
          <h5 style="text-align: center;">---or---</h5>
          <h5 class="card-text" style="text-align: center;">If you are new to the website please register </h5>
          <a href="/register"><button class="btn btn-primary " >Register</button></a>
        </div>
      </div>
    </div>
  </div>
